<!DOCTYPE html>
<html lang="en" data-theme="${@first(theme.json)}" id="top">
  <head>
    <meta charset="UTF-8" />
    <title>Jim Nielsen’s Notes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      type="module"
      src="https://www.jim-nielsen.com/jim-navbar.js"
    ></script>
    <link rel="icon" href="/favicon.ico" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed"
      href="/feed.xml"
    />
    <link
      rel="alternate"
      type="application/json"
      title="JSON Feed"
      href="/feed.json"
    />
    <link rel="me" href="https://github.com/jimniels" />
    <link rel="me" href="https://twitter.com/jimniels" />
    <link rel="me" href="https://mastodon.social/@jimniels" />
    <link rel="me" href="https://dribbble.com@jimniels" />

    <!-- prettier-ignore -->
    <style>${@inline(index.css)}</style>
  </head>
  <body>
    <div>efa</div>
  </body>
</html>
