<!-- 
  @property {Note} _ - data passed to the template
-->
<article id="${_/id}" data-tags="${_/tags}">
  <header>
    <h1><a href="${_/external_url}">${_/title}</a></h1>
    <p class="byline">
      <span class="highlight">${_/_external_url_domain}</span>
    </p>
  </header>
  ${_/content_html}
  <footer class="de-emphasized">
    <ul>
      <li>
        <a href="#${_/id}"
          ><time datetime="${_/date_published}"
            >${new:@js/String(_/date_published)/slice(0, 10)}</time
          ></a
        >
      </li>

      ${@if(_/tags, @map(_/tags, (tag) => `
      <li>${tag}</li>
      `), 'no tags')}
    </ul>
  </footer>
</article>
