---
/**
 * @param _ : {Note}
 * @returns {string}
 */
(_) => _template()
---
<article id="${_.id}" data-tags="${_.tags ? _.tags.join(' ') : ''}">
  <header>
    <h1><a href="${_.external_url}">${_.title}</a> ${<templates/icons.ori/external-link>}</h1>
    <p class="byline">
      <a class="highlight" href="/links/${_._external_url_domain}/">${_._external_url_domain}</a>
    </p>
  </header>
  ${_.content_html}
  <footer class="de-emphasized">
    <ul>
      <li>
        <a href="/n/${_.id.includes("T") ? _.id.replace("T", "-") : _.id}/"
          ><time datetime="${_.date_published}"
            >${formatDate.js(_.date_published)}</time
          ></a
        >
      </li>

      ${/*_.tags ? Tree.map(_.tags, (tag) => `
      <li>#${tag}</li>
      `) : ""*/''}
    </ul>
  </footer>
</article>
