<!DOCTYPE html>
<!-- ( _ : { path: string, site: Site,children: string, title: string } ) -->
<html lang="en" data-theme="Notes" id="top">
  <head>
    <meta charset="UTF-8" />
    <title>${_.title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.ico" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed"
      href="/feed.xml"
    />
    <link
      rel="alternate"
      type="application/json"
      title="JSON Feed"
      href="/feed.json"
    />
    <link rel="me" href="https://github.com/jimniels" />
    <link rel="me" href="https://twitter.com/jimniels" />
    <link rel="me" href="https://mastodon.social/@jimniels" />
    <link rel="me" href="https://dribbble.com@jimniels" />

    <link rel="stylesheet" href="/styles.css" />

    <!--
      Handle redirects for old URLs on the home page
      - Check if there's a hash in the url
      - If there is, check if it matches this pattern: 
        YYYY-MM-DDTHHMM, e.g. '#2012-07-09T0914'
      - If it does, redirect to 'YYYY-MM-DD-HHMM'
    -->
    <script>
      if (window.location.pathname === "/" && window.location.hash) {
        const hash = window.location.hash.trim();
        console.log("hash", hash);
        const match = hash.match(/^#(\\d{4}-\\d{2}-\\d{2})T(\\d{4})$/);
        if (match) {
          const href = "/n/" + match[1] + "-" + match[2] + "/";
          location.replace(href);
        }
      }
    </script>
  </head>
  <body>
    <nav>
      <!-- prettier-ignore -->
      <a
        href="/"
        title="Home"
        aria-label="Home"
        aria-current="${_.path=== '/' ? 'page' : 'false'}"
        >${<templates/icons.ori/home>}</a>
      <!-- <a
        href="/n/"
        title="Search"
        aria-label="Search"
        aria-current="${_.path === '/n/' ? 'page' : 'false'}"
        >${<templates/icons.ori/search>}</a
      > -->
      <!-- prettier-ignore -->
      <button
        title="Shuffle (jump to random note)"
        aria-label="Shuffle (jump to random note)"
        id="js-shuffle"
        style="view-transition-name: ${_.path.startsWith('/n/') ? 'nav-icon-shuffle' : '__NONE__'}"
      >
        ${<templates/icons.ori/shuffle>}
      </button>

      <a href="/feed.xml" title="RSS feed" arial-label="RSS feed"
        >${<templates/icons.ori/rss>}</a
      >

      <!-- <a href="/menu/" title="Menu" arial-label="Menu"
        >${<svgs/icon-menu.svg>}</a
      > -->
    </nav>
    ${_.path === '/' ? `
    <header>
      <h1>Notes</h1>
      <p>
        Quoting others & adding my 2¢ — a microblog.<!-- <a href="/n/">View all.</a> -->
      </p>
      ${<svgs/signature.svg>} ${(_.path === '/' || _.path === '/n/') ? ` ` : ``}
    </header>
    ` : ''}
    <main>${_.children}</main>
    ${_.path === '/' ? `
    <footer>
      Holy cow, you made it all the way to the bottom? Look at you 👏
      <br />
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
        >Here’s a special gift.</a
      >
    </footer>
    ` : ''}

    <!-- Handles the edit link for my own personal use -->
    <script src="/edit-link.js" type="module"></script>

    <!-- Handles the shuffle link -->
    <script>
      // Get all the post IDs
      // @TODO: remove when all posts have been converted from `T` format
      const postsIds = ${JSON.stringify(Tree.plain(Tree.map(_.site.items, (post) => post.id.includes("T") ? post.id.replace("T", "-") : post.id)))};

      // Randomly select one of the postsIds
      const randomPostId = postsIds[Math.floor(Math.random() * postsIds.length)];

      // Add an event listener to the shuffle button
      document.querySelector("#js-shuffle")?.addEventListener("click", (e) => {
        e.preventDefault();
        window.location.href = "/n/" + randomPostId + "/";
      });
    </script>
  </body>
</html>
