<!DOCTYPE html>
<!-- ( _ : { path: string, site: Site,children: string, title: string } ) -->
<html lang="en" data-theme="Notes" id="top">
  <head>
    <meta charset="UTF-8" />
    <title>${_.title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.ico" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed"
      href="/feed.xml"
    />
    <link
      rel="alternate"
      type="application/json"
      title="JSON Feed"
      href="/feed.json"
    />
    <link rel="me" href="https://github.com/jimniels" />
    <link rel="me" href="https://twitter.com/jimniels" />
    <link rel="me" href="https://mastodon.social/@jimniels" />
    <link rel="me" href="https://dribbble.com@jimniels" />

    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <nav>
      <!-- prettier-ignore -->
      <a
        href="/"
        title="Jump to top"
        aria-label="Jump to top"
        aria-current="${_.path=== '/' ? 'page' : 'false'}"
        >${<templates/icons.ori/home>}</a
      >
      <!-- prettier-ignore -->
      <button
        title="Shuffle (jump to random note)"
        aria-label="Shuffle (jump to random note)"
        id="js-shuffle"
        style="view-transition-name: ${_.path.startsWith('/n/') ? 'nav-icon-shuffle' : '__NONE__'}"
      >
        ${<templates/icons.ori/shuffle>}
      </button>

      <a href="/feed.xml" title="RSS feed" arial-label="RSS feed"
        >${<templates/icons.ori/rss>}</a
      >

      <!-- <a href="/menu/" title="Menu" arial-label="Menu"
        >${<svgs/icon-menu.svg>}</a
      > -->
    </nav>
    ${_.path === '/' || _.path === '/n/' ? `
    <header>
      <h1>Notes</h1>
      <p>Quoting others & adding my 2¢ — a microblog.</p>
      ${<svgs/signature.svg>} ${(_.path === '/' || _.path === '/n/') ? `
      <div class="archive-nav">
        <a href="/" aria-current="${_.path === '/' ? 'page' : 'false'}"
          >Latest</a
        >
        <a href="/n/" aria-current="${_.path === '/n/' ? 'page' : 'false'}"
          >All</a
        >
      </div>
      ` : ``}
    </header>
    ` : ''}
    <main>${_.children}</main>
    ${_.path === '/' ? `
    <footer>
      Holy cow, you made it all the way to the bottom? Look at you 👏
      <br />
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
        >Here’s a special gift.</a
      >
    </footer>
    <script src="/main.js" type="module"></script>
    ` : ''}

    <script>
      const postsIds = ${JSON.stringify(Tree.plain(Tree.map(_.site.items, (post) => post.id)))};
      // randomly select one of the postsIds
      const randomPostId = postsIds[Math.floor(Math.random() * postsIds.length)];
      document.querySelector("#js-shuffle")?.addEventListener("click", (e) => {
        e.preventDefault();
        window.location.href = "/n/" + randomPostId + "/";
      });
    </script>
  </body>
</html>
