<!-- ( _ : { children: string, title: string } ) -->
<!DOCTYPE html>
<html lang="en" data-theme="Notes" id="top">
  <head>
    <meta charset="UTF-8" />
    <title>${_.title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      type="module"
      src="https://cdn.jim-nielsen.com/shared/jim-site-switcher.js"
    ></script>
    <link rel="icon" href="/favicon.ico" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed"
      href="/feed.xml"
    />
    <link
      rel="alternate"
      type="application/json"
      title="JSON Feed"
      href="/feed.json"
    />
    <link rel="me" href="https://github.com/jimniels" />
    <link rel="me" href="https://twitter.com/jimniels" />
    <link rel="me" href="https://mastodon.social/@jimniels" />
    <link rel="me" href="https://dribbble.com@jimniels" />

    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <jim-site-switcher subdomain="notes"></jim-site-switcher>
    <nav>
      <a href="#top" title="Jump to top" aria-label="Jump to top"
        >${<svgs/icon-jump.svg>}</a
      >
      <a
        href="#"
        title="Jump to random note"
        aria-label="Jump to random note"
        class="js-shuffle"
      >
        ${<svgs/icon-shuffle.svg>}
      </a>

      <a href="/feed.xml" title="RSS feed" arial-label="RSS feed"
        >${<svgs/icon-rss.svg>}</a
      >

      <!-- <a href="/menu/" title="Menu" arial-label="Menu" style="margin-left: auto"
        >${<svgs/icon-menu.svg>}</a
      > -->
    </nav>
    <header>
      <h1>Notes</h1>
      <p>Quoting others & adding my 2¢ — a microblog.</p>
      ${<svgs/signature.svg>}
    </header>
    <main>${_.children}</main>
    <footer>
      Holy cow, you made it all the way to the bottom? Look at you 👏
      <br />
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
        >Here’s a special gift.</a
      >
    </footer>
    <script>
      // Shuffle jump to link
      const min = 0;
      const max = document.querySelectorAll("article").length;
      document.querySelector(".js-shuffle").addEventListener("click", (e) => {
        e.preventDefault();
        const rand = Math.floor(Math.random() * max) + min;
        Array.from(document.querySelectorAll("article"))[rand].scrollIntoView();
      });
    </script>
  </body>
</html>
